html {
  height: 100%;
}
html,
body,
pre {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  margin: 0.5rem 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  width: calc(100% - 2em - 80px);
}
.mobile {
  display: none;
}
td,
th {
  padding: 0.5rem 1rem;
  border: 1px solid #dddbcc;
}
body {
  font: 1.13rem/1.8 Georgia, Times, "Times New Roman", serif;
  color: #424242;
}
h1,
h2,
h3,
nav,
footer,
.archive .post-title {
  font-family: PingFang SC, Microsoft YaHei, -apple-system, BlinkMacSystemFont, Helvetica Neue, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
}
h2,
h3 {
  padding-top: 1rem;
  line-height: 1.2;
}
a {
  text-decoration: none;
  color: #00a0fc;
  border-bottom: 2px dashed transparent;
}
a:hover {
  transition: all 1.5s;
  border-bottom: 2px dashed;
}
.header ul,
.post-meta ul,
.header li,
.post-meta li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.post-year {
  list-style: none;
  font-size: 2.5rem;
}
.header {
  display: flow-root;
  text-align: center;
  color: #424242;
  margin-bottom: 4rem;
}
.header h1 {
  font-size: 3rem;
}
.header em {
  font-style: normal;
}
.navbar {
  background: #00a0fc;
  margin: 0 0 1rem;
}
.navbar li {
  display: inline-block;
  padding: 0 2rem;
}
.navbar li,
.navbar li a {
  color: #fff;
}
.main {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 5rem;
  min-height: calc(100vh - 378px);
}
.main .post {
  margin: 0 0 3rem;
  padding: 0.5rem 2rem 6rem;
}
.main .post img {
  display: block;
  margin: 1.5rem auto;
  max-width: 58rem;
}
.main .post-meta {
  margin: 0 0 0.5rem;
}
.main .post-date,
.main .post-time {
  margin-right: 0.5rem;
  font-family: 'Courier New', Courier, monospace;
}
.main .post-time {
  color: #555;
}
.main .post-title {
  font-size: 1.5rem;
}
.main .article-tag-list {
  display: inline-block;
}
.main .article-tag-list-item {
  display: inline-block;
}
.main .article-tag-list-item:not(:last-child)::after {
  content: '，';
}
.main .page-nav {
  display: flex;
  justify-content: center;
}
.main .page-nav * {
  padding: 0 0.5rem;
}
footer {
  background: #00a0fc;
  color: #fff;
  text-align: center;
  font-size: 1rem;
}
footer a {
  color: inherit;
}
figure,
figure table,
figure td {
  margin: 0;
  padding: 0;
}
.highlight table {
  width: 100%;
}
.highlight th,
.highlight td {
  border: none;
}
.highlight pre {
  background: #f5f2f0;
  border: 1px solid #dddbcc;
  border-radius: 3px;
  font-size: 1.3rem;
  line-height: 1.8;
  margin: 0.8rem 0;
  padding: 0.8rem;
  white-space: pre-wrap;
}
blockquote {
  padding-left: 1.5rem;
  border-left: 0.2rem solid;
  color: #888;
}
code {
  color: #00a0fc;
  white-space: nowrap;
  margin: 0 2px;
  padding: 0 5px;
  border: 1px solid #ddd;
  background-color: #f2f2f2;
  border-radius: 3px;
  font-size: 1.3rem;
}
.practice {
  position: absolute;
  right: 0;
  border: 1px solid #00a0fc;
  border-radius: 2px;
  width: 1rem;
}
.article-entry pre,
.article-entry .highlight {
  background: #2d2d2d;
  margin: 0 -20px;
  padding: 15px 20px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  overflow: auto;
  color: #ccc;
  line-height: 22.400000000000002px;
}
.article-entry .highlight .gutter pre,
.article-entry .gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 0.85em;
}
.article-entry pre,
.article-entry code {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
}
.article-entry code {
  background: #eee;
  text-shadow: 0 1px #fff;
  padding: 0 0.3em;
}
.article-entry pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
.article-entry .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.article-entry .highlight table {
  margin: 0;
  width: auto;
}
.article-entry .highlight td {
  border: none;
  padding: 0;
}
.article-entry .highlight figcaption {
  font-size: 0.85em;
  color: #999;
  line-height: 1em;
  margin-bottom: 1em;
}
.article-entry .highlight figcaption a {
  float: right;
}
.article-entry .highlight .gutter pre {
  text-align: right;
  padding-right: 20px;
}
.article-entry .highlight .line {
  height: 22.400000000000002px;
}
.article-entry .highlight .line.marked {
  background: #515151;
}
.article-entry .gist {
  margin: 0 -20px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  background: #2d2d2d;
  padding: 15px 20px 15px 0;
}
.article-entry .gist .gist-file {
  border: none;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  margin: 0;
}
.article-entry .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.article-entry .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.article-entry .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.article-entry .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.article-entry .gist .gist-file .gist-meta {
  background: #2d2d2d;
  color: #999;
  font: 0.85em -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 20px;
}
.article-entry .gist .gist-file .gist-meta a {
  color: #258fb8;
  font-weight: normal;
}
.article-entry .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .comment,
pre .title {
  color: #999;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f2777a;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f99157;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #9c9;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #9c9;
}
pre .css .hexcolor {
  color: #6cc;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #69c;
}
pre .keyword,
pre .javascript .function {
  color: #c9c;
}
@media screen and (max-width: 425px) {
  html {
    font-size: 14px;
  }
  .pc {
    display: none;
  }
  .mobile {
    display: block;
  }
}
